In [1]:
import requests
from urllib.request import Request, urlopen
import time
import pandas as pd

In [3]:
api_key = "153df9ca-8db2-4b66-a6c6-aa73ce34f224"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept-Charset": "application/x-www-form-urlencoded; charset=UTF-8",
    "Origin": "https://developer.riotgames.com"
}

In [5]:
link = f"https://na1.api.riotgames.com/lol/league/v4/challengerleagues/by-queue/RANKED_SOLO_5x5?api_key=RGAPI-{api_key}"

response = requests.get(link, headers = headers)
response.status_code

200

In [6]:
summoners_list = response.json()['entries']
summoners_id = [summoners_list[i]['summonerId'] for i in range(len(summoners_list))]

In [7]:
puuids = []

i = 0
while i < len(summoners_id):
    summoner_id = summoners_id[i]
    link_puuid = f"https://na1.api.riotgames.com/lol/summoner/v4/summoners/{summoner_id}?api_key=RGAPI-{api_key}"
    response_puuid = requests.get(link_puuid, headers = headers)
    if response_puuid.status_code == 200:
        puuids.append(response_puuid.json()['puuid'])
    else:
        print(response_puuid.json())
        time.sleep(120)
        continue
    i += 1

In [8]:
temp = pd.DataFrame({"puuids": puuids})

In [9]:
temp.to_csv("challengers_puuids.csv", index = False)

In [80]:
# link_riotid = f"https://na1.api.riotgames.com/lol/summoner/v4/summoners/{summoner_id}?api_key=RGAPI-{api_key}"
# for i, summoner_id in enumerate(summoners_id):
#     link_puuid = f"https://na1.api.riotgames.com/lol/summoner/v4/summoners/{summoner_id}?api_key=RGAPI-{api_key}"
#     response_puuid = requests.get(link_puuid, headers = headers)
#     try:
#         puuids.append(response_puuid.json()['puuid'])
#     except:
#         print(response_puuid.json())
#         time.sleep(5)

In [10]:
len(puuids)

300

In [11]:
team_comb_data = []
winner = []

In [12]:
puuids_df = pd.read_csv("challengers_puuids.csv")

In [13]:
puuids = list(puuids_df['puuids'])

In [7]:
# puuids = puuids[:2]

In [14]:
# get match data from puuids of users
i = 0
while i < len(puuids):
    puuid = puuids[i]
    link_matchid = f"https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{puuid}/ids?start=0&count=10&api_key=RGAPI-{api_key}"
    response_matchids = requests.get(link_matchid, headers = headers)
    
    
    if response_matchids.status_code != 200:
        print(response_matchids.json())
        time.sleep(120)
        continue

    i += 1
    matches = response_matchids.json()
    j = 0
    while j < len(matches):
            
        matchid = matches[j]
        link_match = f"https://americas.api.riotgames.com/lol/match/v5/matches/{matchid}?api_key=RGAPI-{api_key}"
        response_match = requests.get(link_match, headers = headers)
        if response_match.status_code != 200:
            print(response_match.json())
            time.sleep(120)
            continue
        match_data = response_match.json()
        champ_comb = [match_data['info']['participants'][_]['championId'] for _ in range(len(match_data['info']['participants']))]
        team_comb_data.append(champ_comb)
        try:
            if match_data['info']['teams'][0]['win'] == True:
                winner.append(0)
            else:
                winner.append(1)
        except:
            print(match_data['info']['teams'])
            print('player: ', i)
            print('match: ', j)
            team_comb_data.pop(-1)
            
        
        j += 1

{'status': {'message': 'Internal server error', 'status_code': 500}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Internal server error', 'status_code': 500}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}
{'status': {'message': 'Internal server error', 'status_code': 500}}
{'status': {'message': 'Rate limit exceeded', 'status_code': 429}}

In [15]:
len(winner)

3000

In [16]:
i

300

In [19]:
df = pd.DataFrame({'teams' : team_comb_data, 'winner' : winner})
# df.to_csv("match_data.csv", index=False)

In [20]:
df['teams'] = df['teams'].apply(lambda x: ','.join(x))

TypeError: sequence item 0: expected str instance, int found

In [21]:
df

                                                  teams  winner
0        [114, 203, 61, 50, 201, 72, 163, 777, 119, 40]       0
1         [72, 141, 157, 268, 50, 58, 64, 39, 222, 117]       1
2     [266, 154, 105, 429, 432, 897, 421, 136, 221, ...       1
3          [154, 35, 61, 51, 16, 68, 421, 119, 910, 29]       1
4           [897, 421, 101, 96, 117, 4, 62, 61, 81, 43]       1
...                                                 ...     ...
2995     [4, 64, 268, 157, 111, 68, 120, 136, 221, 497]       1
2996    [72, 107, 38, 115, 201, 64, 141, 136, 157, 497]       0
2997      [79, 59, 157, 81, 201, 85, 24, 103, 145, 111]       1
2998      [126, 234, 1, 145, 526, 62, 421, 29, 96, 201]       1
2999       [154, 35, 61, 51, 16, 68, 421, 119, 910, 29]       1

[3000 rows x 2 columns]

In [22]:
df.to_csv("match_data_validation.csv", index=False)

In [ ]:
temp = response_match.json()

In [121]:
temp.keys()

dict_keys(['status'])

In [116]:
temp['info']['teams'][0]['win']

False

In [26]:
temp['info']['participants'][0]['championId']

86

In [ ]:
[temp['info']['participants'][_]['championName'] for _ in range(len(temp['info']['participants']))]